$icon-size: 22px;

header.taskbar {
  width: 100%;

  nav.taskbar__content {
    display: flex;
    justify-content: space-between;
    margin: 2px 0;

    > div {
      display: flex;
      align-items: center;
      margin: 0;
    }
  }

  .taskbar__start {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    font-size: 1.4rem;
    min-width: fit-content;
    font-weight: bold;

    &:not(:disabled):active {
      padding: 3px;
    }
  }

  .windows-logo {
    object-fit: contain;
    margin-right: 4px;
    height: 2rem;
  }

  hr {
    transform: rotate(90deg);
    margin: 0;
    width: 25px;
    height: 4px;
  }

  .taskbar__icon {
    height: $icon-size;
    width: $icon-size;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border: 0.5px dotted rgb(17, 17, 17);
    }

    &:not(:last-of-type) {
      margin-right: 8px;
    }

    img {
      height: calc(#{$icon-size} - 2px);
    }
  }

  .taskbar__info {
    padding: 3px 6px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;

    img {
      height: calc(#{$icon-size} - 2px);
      margin-right: 4px;
      &:last-child {
        margin-right: 14px;
      }
    }
  }
}
