.window {
  width: 40%;
  min-width: fit-content;
  margin: 1vw;
}

.computer {
  height: 25vh;
  min-height: 200px;
  margin: 10px;
}

.field {
  width: 33%;

  &--btn {
    color: blue;
    cursor: pointer;

    &:hover {
      color: rgb(29, 119, 255);
    }
  }
}
